@import "tailwindcss";
@tailwind utilities;

@theme {
  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Custom scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: theme(colors.zinc.700) transparent;
}

.custom-scrollbar:hover {
  scrollbar-color: theme(colors.zinc.600) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: theme(colors.zinc.700);
  border-radius: 9999px;
  transition: background-color 0.2s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: theme(colors.zinc.600);
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
